* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.main {
    background-color: #1B203D;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: white;
}

.navbar {
    height: 100vh;
    width: 20%;
    background-color: #272C4A;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    color: white;
    padding-top: 5%;
}

.logo span {
    color: #D73132;
}

.list {
    list-style: none;
    position: absolute;
    top: 15%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.list li {
    font-size: 20px;
    padding: 15px;
    margin: 2px 0;
    cursor: pointer;
}

.list li:hover,
.active {
    background-color: #1B203D;
    color: white;
    width: 100%;
}


.list li a {
    padding: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.list li i:not(.fa-users-line) {
    padding-right: 20px;
    font-size: 20px;
}

.fa-users-line {
    font-size: 18px;
    padding-right: 15px;
}

.dashboard {
    width: 80%;
    height: 100vh;
}